input[type="submit"] {
  min-width: 70px;
  height: 70px;
  border-radius: 50%;
  border: 1px solid var(--dark-sky-blue);
  background: var(--sky-blue);
  margin: 0 auto;
  color: var(--background-white);
  text-transform: uppercase;
  margin-top: 20px;
  padding: 0;
  justify-items: center;
  &:hover {
    background: var(--dark-sky-blue);
    transition: all 0.15s ease-in-out;
    cursor: pointer;
  }
  &:focus {
    font-weight: bold;
    background: #71def2;
    width: 90px;
    transition: all 0.25s ease-in;
  }
}
