:root {
  --background-white: #fff;
  --primary-color: #666;
  --border-grey: #cecece;
  --light-grey: #ccc;
  --brand-blue: #71def2;
  --sky-blue: #54b7c9;
  --dark-sky-blue: #3d828e;
  --brand-green: #a8f781;
  --font-stack: 14px "Rubik", sans-serif;
}
